<div style="min-height:100vh; width: fit-content;" class="bg-success text-light p-2 d-flex flex-column">
    <h5 class="mb-5 text-warning border rounded p-4 shadow"><i class="fa-solid fa-graduation-cap"></i>Cookpedia Admin</h5>

    <a routerLink="/admin" class="text-decoration-none text-light fw-bolder mb-4"><i class="fa-solid fa-chart-simple me-2"></i>Dashboard</a>

    <a routerLink="/admin/recipe-list" class="text-decoration-none text-light fw-bolder mb-4"><i class="fa-solid fa-bowl-food me-2"></i>Recipe-list</a>
    

    <a routerLink="/admin/user-list" class="text-decoration-none text-light fw-bolder mb-4"><i class="fa-solid fa-users me-2"></i>User List</a>

    <a routerLink="/admin/download-list" class="text-decoration-none text-light fw-bolder mb-4"><i class="fa-solid fa-download me-2"></i>Download-list</a>

    <a routerLink="/admin/request-list" class="text-decoration-none text-light fw-bolder mb-4"><i class="fa-solid fa-message me-2"></i>Request-list</a>

</div>
