<app-header></app-header>
<div class="container my-5">
    <div class="row">
        <div class="col-lg-4">
           <div class="container">
            <h4>Filters</h4>
            <button class="btn mt-5">All</button>
            <br>
            <!-- cuisine type --collapse in bootstrap -->
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Cusine Type
              </button>
              <div class="collapse my-2" id="collapseExample">
                @for (cuisine of cusineArray; track $index) {
                    <button class="btn">{{cuisine}}</button>

                }
              </div>
             <!-- meal type -->
              <br>
              <button class="btn dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
                Meal Type
              </button>
              <div class="collapse my-2" id="collapseExample1">
                <div class="btn">Meal</div>
              </div>

           </div>
        </div>
        <div class="col-lg-8">
            <div class="d-flex justify-content-between align-items-center">
                <h1>All Recipes</h1>
                <input type="text" placeholder="Search your Recipe Name here!!!" class="form-control w-50">
            </div>
            <div class="row my-3">
                <!-- control flow statements  -->

                @if (allRecipes.length>0) {
                    @for (recipe of allRecipes; track $index) {
                        <div class="col-lg-4">
                            <div class="p-3">
                                <img class="card-img-top" [src]="recipe.image" alt="">
                                <div class="card-body">
                                    <h5 class="card-title mt-1">{{recipe.name}}</h5>
                                    <p>Cuisine : {{recipe.cuisine}}</p>
                                </div>
                        
                            </div>
                        </div>
                    }
                }@else {
                    <div class="fw-bolder fs-5 text-danger">Recipe Not Found!!!</div>
                }
              
            </div>

        </div>
    </div>

</div>

<app-footer></app-footer>