<app-header></app-header>

<div class="container">

    <div class="row align-items-center">
        <div class="col-lg-6 bg-success d-flex justify-content-center align-items-center" style="height: 350px;">
            <img class="img-fluid" src="https://static.vecteezy.com/system/resources/thumbnails/044/771/696/small/a-basket-brimming-with-vegetables-free-png.png" alt="">
        </div>
        
        <div class="col-lg-6">
            <h1>Welcome To Cookpedia</h1>
            <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate quaerat nobis vel fuga! Possimus natus dicta distinctio officiis eius ad deleniti debitis expedita dignissimos cumque blanditiis, sunt ipsum odit maxime.</p>

        </div>

    </div>
   <div class="row align-items-center my-5">
    <div class="col-lg-6 align-items-center">
        <h1>About Us</h1>
        <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate aperiam reprehenderit illum. Sit nostrum sunt placeat dolor ea atque saepe est eos omnis.</p>
        <ul>
            <li>Lorem ipsum dolor sit amet</li>
            <li>consectetur adipisicing elit</li>
            <li>Quo mollitia quas eaque qui</li>
            <li>suscipit accusantium saepe</li>
        </ul>
        <button routerLink="/" class="btn btn-success mt-4">Know More About Us</button>
    </div>
    <div class="col-lg-6">
        <img src="https://media-hosting.imagekit.io//5dcc60cbdc5b4d1e/freepik__background__73598.png?Expires=1834980785&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=tFoCnz5PvHtUo3xhxca7i6-9OabOIu93bJgx~J4mhW10d3Hy5EKhPGGb1d~DIBlpyTb2G5oq8JVmIIwMBWSlbtTjYu8jwLX1IDGtqe6AzUEB4iEdEuoQQy6s47S8KM6q3lxE-5T7QxdnREJuhLPjTpEBi~k5u5glrnOTLEo-Wfj9Zd0453MgJFG6MOoC47JO9D0zkkPTfsCjc9L2Du-ka3SVhkBLPtsfoESmRjoxi7HDTUvdYgscwVZf8FzmL12dqf6MxnjplOPSmsDMY0uG4QLHKtMc1Vage7jIwQwGc6bM-YB3RBfLYs617s-i4D-uYTGQiD2-qHVUodOv7rDH2w__" class="img-fluid" alt="">
    </div>

   </div>

   
</div>
<app-footer></app-footer>
