<div class="row">
    <div class="col-lg-2">
        <app-sidebar></app-sidebar>

    </div>

    <div class="col-lg-10">
        <h1 class="text-center my-3">Add Recipe Details</h1>
        <div class="container my-5 rounded text-center p-5 shadow w-75">
            <div class="row">
              <div class="col-6">
                <div class="mb-2">
                    <input [(ngModel)]="recipeDetails.name" type="text" placeholder="Recipe Name" class="form-control">
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="recipeDetails.prepTimeMinutes" type="text" placeholder="Recipe Preperation Time in Minutes" class="form-control">
                </div>
               
                <div class="mb-2">
                    <input [(ngModel)]="recipeDetails.image" type="text" placeholder="Recipe Imge URL" class="form-control">
                </div>
                <div class="mb-2">
                    <label for="cuisine">Choose Cuisine Type</label>
                    <select [(ngModel)]="recipeDetails.cuisine" name="cuisine" id="cuisine" class="form-control">
                        <option selected disabled hidden>Choose Cuisine Type</option>
                    @for (cuisine of cusineArray; track $index) {
                        <option [value]="cuisine">{{cuisine}}</option>
                    }
                    </select>
                </div>

                <div class="mb-2">
                    <div class="d-flex align-items-center mb-2">
                     <textarea #ingredient name="" placeholder="Add Recipe Ingredients" class="form-control" id=""></textarea>
                     <button (click)="addIngredients(ingredient)" class="btn btn-primary ms-1">+</button>
                    </div>
                    @for (item of ingredientsArray; track $index) {
                        <div class="d-flex align-items-center mb-2">
                            <input [value]="item" placeholder="Add Recipe Ingredients" class="form-control" />
                            <button (click)="removeIngredient(item)" class="btn ms-1"><i class="fa-solid fa-trash text-danger"></i></button>
                           </div>
                    }
                </div>
               



              </div>


             <div class="col-6">
                <div class="mb-2">
                    <input [(ngModel)]="recipeDetails.servings" type="text" placeholder="Recipe Servings (ex:4)" class="form-control">
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="recipeDetails.cookTimeMinutes" type="text" placeholder="Recipe Cooking Time in Minutes" class="form-control">
                </div>
               
                <div class="mb-2">
                    <input [(ngModel)]="recipeDetails.caloriesPerServing" type="text" placeholder="Recipe Calories Per Serving (ex:340)" class="form-control">
                </div>
                <div class="mb-2">
                    <label for="cuisine">Choose Mode of cooking</label>
                    <select [(ngModel)]="recipeDetails.difficulty" name="cuisine" id="cuisine" class="form-control">
                        <option selected disabled hidden>Choose Mode of cooking</option>
                        <option value="">Easy</option>
                        <option value="">Medium</option>
                        <option value="">Hard</option>
                    </select>
                </div>

                <div class="mb-2">
                    <div class="d-flex align-items-center mb-2">
                     <textarea #instruction name="" placeholder="Add cooking Instructions" class="form-control" id=""></textarea>
                     <button (click)="addInstructions(instruction)" class="btn btn-primary ms-1">+</button>
                    </div>
                    @for (item of instructionArray; track $index) {
                        <div class="d-flex align-items-center mb-2">
                            <input [value]="item" placeholder="Add Recipe Ingredients" class="form-control" />
                            <button (click)="removeInstructions(item)" class="btn ms-1"><i class="fa-solid fa-trash text-danger"></i></button>
                           </div>
                    }
                </div>
              </div>


            </div>

            <div class="mb-3">
                <div class="border rounded p-2">
                   <p class="mb-2">Choose meal Type of recipe :</p>
                   <div class="d-flex flex-wrap my-3">
                    @for (meal of mealTypeArray; track $index) {
                        <div class="border rounded p-1 me-2">
                            <label [for]="meal">
                                <input type="checkbox" [name]="meal" [id]="meal">
                                {{meal}}
                            </label>
                        </div>
                    }
                   </div>
                </div>

            </div>
            <button (click)="addRecipe()" class="btn btn-success">Add Recipe</button>

        </div>
    </div>

</div>