<app-header></app-header>
<div class="container">
    <div class="row align-items-center justify-content-center p-5 text-light fw-bolder bg-success fs-1">
     Your Recipe Collection !!
    </div>
    <div class="row my-5">
      @if (allRecipes.length>0) {
@for (item of allRecipes; track $index) {
    <div class="col-lg-3">
        <div class="p-3">
            <!-- propert binding in src -->
            <img routerLink="/recipe/{{item.recipeId}}/view" class="card-img-top" [src]="item.image" alt="">
    
            <div class="card-body d-flex align-items-center justify-content-between">
                <!-- interpolation -->
                <h5 class="card-title">{{item.name}}</h5>
                <button (click)="removeSaveRecipe(item._id)" class="btn"><i class="fa-solid fa-trash text-danger"></i></button>
    
            </div>
    
        </div>
        
    </div>
}
      }@else{
        <div class="fw-bolder fs-3 text-center">Your recipe collection is empty</div>
      }
    </div>
</div>
<app-footer></app-footer>