<div class="row">
    <div class="col-lg-2">
        <app-sidebar></app-sidebar>

    </div>

    <div class="col-lg-10">
        <p>request-list</p>

        <table class="table my-5 shadow">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>

                    <th>Email</th>
                    <th>Feedback</th>
                    <th>Status</th>
                    
                </tr>
            </thead>
            <tbody>
                @for (testimony of allTestimonails; track $index;let i=$index) {
                    <tr>
                        <td>{{i+1}}</td>
                        <td>{{testimony.name}}</td>
                        <td>{{testimony.email}}</td>
                        <td>{{testimony.message}}</td>
                        <td>
                            @if (testimony.status =="Pending") {
                                <div class="d-flex">
                                    <button (click)="updateStatus(testimony._id,'Approved')" class="btn btn-success"><i class="fa-solid fa-check"></i></button>
                                    <button (click)="updateStatus(testimony._id,'Rejected')" class="btn btn-danger ms-2"><i class="fa-solid fa-x"></i></button>

                                </div>
                            }@else if (testimony.status =='Approved') {
                                <button class="btn btn-success">Approved</button>
                            }@else {
                                <button class="btn btn-danger">Rejected</button>

                            }
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>