<div class="container">
    <div class="row d-flex justify-content-center align-items-center vh-100 gap-5">
        <!-- Form Section -->
        <div class="col-lg-4 d-flex flex-column align-items-center m-3">
            <div class="text-center mb-5">
                <h1>Login</h1>
                <p>More than 100 plus Recipes from around the world</p>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="login()" action="" class="border rounded shadow p-5 w-100">
                <h3 class="text-center mb-5">
                    <i class="fa-solid fa-graduation-cap text-success"></i> Cookpedia
                </h3>

                

                <div class="mb-4">
                    <input type="email" formControlName="email" name="email" class="form-control" placeholder="Email">
                </div>

                @if (loginForm.get('email')?.errors && loginForm.get('email')?.touched) {
                    <div class="text-danger fw-bolder mb-3">*Invalid email</div>
                }

                
                <div class="mb-4">
                    <input type="password" formControlName="password" name="password" class="form-control" placeholder="Password">
                </div>
    
                @if (loginForm.get('password')?.errors && loginForm.get('password')?.touched) {
                    <div class="text-danger fw-bolder mb-3">*Invalid password</div>
                }

                <div >
                    <button type="submit" class="btn btn-success w-100">Login</button>
                </div>
            </form>
        </div>

      
       
    </div>
</div>

<app-footer></app-footer>