<app-header></app-header>

<div class="container">
    <!-- Contact Us Section -->
    <div class="row">
        <div class="col-12">
            <div class="bg-success d-flex flex-column justify-content-center align-items-center text-center text-white" style="height: 350px;">
                <h1>Contact Us</h1>
                <p class="w-75">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis, suscipit veniam vero dolorem, aspernatur sapiente vitae sequi magni nesciunt iste rerum quaerat sed at velit blanditiis nobis. In, quod error?</p>
            </div>
        </div>
    </div>

     <!-- About Us & Testimony Section -->
     <div class="row d-flex justify-content-center align-items-center vh-100 gap-5 my-5">
        <div class="col-lg-4 mt-3">
            <h1>Get In Touch</h1>
            <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate aperiam reprehenderit illum. Sit nostrum sunt placeat dolor ea atque saepe est eos omnis.</p>

            <!-- Address & Phone -->
            <!-- Address, Phone & Email Section -->
<div class="mt-4">
    <div class="mb-3">
        <i class="fa-solid fa-map-marker-alt text-success me-2"></i> 
        <strong>Address</strong>
        <p class="ms-4 mb-0">Kannur, Kerala, India</p>
    </div>

    <div class="mb-3">
        <i class="fa-solid fa-phone text-success me-2"></i> 
        <strong>Phone</strong>
        <p class="ms-4 mb-0">+91 9876543210</p>
    </div>

    <div class="mb-3">
        <i class="fa-solid fa-envelope text-success me-2"></i> 
        <strong>Email</strong>
        <p class="ms-4 mb-0">vismayagmail.com</p>
    </div>
</div>


            <!-- Follow Us Section -->
            <div class="mt-4">
                <h4>Follow Us</h4>
                <div class="d-flex gap-3">
                    <a href="#" class="text-dark fs-4"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#" class="text-dark fs-4"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#" class="text-dark fs-4"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#" class="text-dark fs-4"><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
        </div>

        <div class="col-lg-1"></div>
        
        <!-- Client Testimony Form -->
        <div class="col-lg-4 mt-3">
            <form [formGroup]="testimonyForm" (ngSubmit)="addTestimony()" class="border rounded shadow p-5">
                <h3 class="text-center">Client Testimony</h3>
                <div class="mb-3 mt-2">
                    <input type="text" formControlName="name" name="name" class="form-control" placeholder="Name">
                </div>
                <div class="mb-3">
                    <input type="email" formControlName="email" name="email" class="form-control" placeholder="Email">
                </div>
                <div class="mb-3">
                    <textarea name="message" formControlName="message" class="form-control" placeholder="Message"></textarea>
                </div>
                <p class="text-secondary">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi rem debitis dicta ea </p>
                <div class="text-end">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>
