<div class="container-fluid">
    <div class="row">

   @if (isSidebarOpen) {
        <div class="col-lg-2 bg-success">
            <app-sidebar></app-sidebar>
        </div>
   }

        <div class="col-lg-10">
            <!-- navbar -->
             <div class="row bg-warning text-light p-3">
                <div class="d-flex justify-content-between align-items-center">
                    <h1><button (click)="menuBtnClick()" class="btn"><i class="fa-solid fa-bars text-light fa-2x"></i></button> Welcome To Admin Dashboard</h1>
                    <div>
                        <button type="button"  data-bs-toggle="dropdown" class="btn dropdown-toggle text-light"><i class="fa-solid fa-user"></i></button>

                        <ul class="dropdown-menu text-center">
                            <li><button (click)="logoutAdmin()" class="btn fw-bolder">Logout <i class="fa-solid fa-right-from-bracket"></i></button></li>
                        </ul>
                    </div>

                </div>

             </div>


             <!-- metrics -->
              <div class="d-flex justify-content-evenly align-items-center my-5">
                <!-- users -->
                 <div class="d-flex align-items-center p-3 rounded text-light bg-info">
                    <i class="fa-solid fa-users fa-3x me-3"></i>
                    <div>
                        <h3>Users</h3>
                        <h4>{{userCount}}</h4>
                    </div>
                 </div>

                 <!-- recipes -->
                 <div class="d-flex align-items-center p-3 rounded text-light bg-primary">
                    <i class="fa-solid fa-users fa-3x me-3"></i>
                    <div>
                        <h3>Recipes</h3>
                        <h4>{{recipeCount}}</h4>
                    </div>
                 </div>

                  <!-- downloads -->
                  <div class="d-flex align-items-center p-3 rounded text-light bg-danger">
                    <i class="fa-solid fa-users fa-3x me-3"></i>
                    <div>
                        <h3>Downloads</h3>
                        <h4>{{downloadCount}}</h4>
                    </div>
                 </div>
                   <!-- notifications -->
                   <div class="d-flex align-items-center p-3 rounded text-light bg-success">
                    <i class="fa-solid fa-users fa-3x me-3"></i>
                    <div>
                        <h3>Notifications</h3>
                        <h6>You have <a routerLink="/admin/request-list">{{requestCount}}</a> new requests</h6>
                    </div>
                 </div>

              </div>

              <!-- chart and calender -->
               <div class="row">
                <div class="col-lg-8">
                    <!-- chart -->
                    <highcharts-chart 
                    [Highcharts]="Highcharts"
                    [options]="chartOptions"
                  
                    style="width: 100%; height: 400px; display: block;"
                  ></highcharts-chart>
                </div>
                <div class="col-lg-4">
                    <!-- calender -->
                    <mat-card class="demo-inline-calendar-card">
                        <mat-calendar [(selected)]="selected"></mat-calendar>
                      </mat-card>
                </div>
               </div>
        </div>
    </div>
</div>