<app-header></app-header>
<div class="container my-5">
    <!-- profile updation -->
     <div class="my-5  text-center">
        <h1>My Profile</h1>
        <label class="my-3">
            <input (change)="getfile($event)" type="file" style="display: none;">
            <img width="150px" height="150px" [src]="profileImg" alt="">
        </label>
        <br>
        <button (click)="updateProfile()" class="btn btn-success m-3">Update Profile</button>
     </div>

    <!-- download recipelist -->
     <h3>Download Recipe List</h3>
        <div class="row my-3">
          @if (allUserDownloadList.length>0) {
             @for (recipe of allUserDownloadList; track $index) {
                <div class="col-lg-2">
                    <div class="p-3">
                        <img  class="card-img-top" [src]="recipe.recipeImage" alt="">
                        <div class="card-body">
                            <h5 class="card-title mt-1 fs-6">{{recipe.recipeName}}</h5>
                        </div>
                
                    </div>
                </div>
             }
          }@else {

            <div class="fw-bolder fs-4 text-danger">No Recipes downloaded yet!!!</div>
          }
        </div>

    
</div>
<app-footer></app-footer>