<div class="row">
    <div class="col-lg-2">
        <app-sidebar></app-sidebar>

    </div>

    <div class="col-lg-10">
        <p>All Download Recipe list</p>
        <table class="table my-5 shadow">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Recipe Id</th>

                    <th>Recipe Name</th>
                    <th>Recipe Cuisine</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                @for (download of allDownloadList; track $index;let i=$index) {
                    <tr>
                        <td>{{i+1}}</td>
                        <td>{{download.recipeId}}</td>
                        <td>{{download.recipeName}}</td>
                        <td>{{download.recipeCuisine}}</td>
                        <td>{{download.count}}</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>